<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>DATADOG_CLIENT_TOKEN</key>
	<string>$(DATADOG_CLIENT_TOKEN)</string>
	<key>DATADOG_RUM_APPLICATION_ID</key>
	<string>$(DATADOG_RUM_APPLICATION_ID)</string>
	<key>DATADOG_SITE</key>
	<string>$(DATADOG_SITE)</string>
	<key>DATADOG_SERVICE</key>
	<string>$(DATADOG_SERVICE)</string>
</dict>
</plist>
